/* =-=-=-=-=-=-=-=-=-=-= playlists =-=-=-=-=-=-=-=-=-=-= */
.divPlaylists {
    // background-color: pink;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    width: 100%;
    margin-top: 1.5rem;

    .playlist {
        // background-color: red !important;
        background-color: rgb(24, 24, 24);
        padding: 1.125rem;
        max-width: 250px;
        border-radius: 5px;

        display: flex;
        flex-direction: column;

        &:hover {
            background-color: #272727;
            cursor: pointer;
            -webkit-transition: background-color 150ms linear;
            -ms-transition: background-color 150ms linear;
            transition: background-color 150ms linear;

            .btnPlay {
                visibility: visible;
                opacity: 1;
            }
        }

        .divThumbnail {
            // background-color: pink !important;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                border-radius: 5px;
            }
        }

        .tituloPlaylist {
            box-sizing: border-box;
            -webkit-tap-highlight-color: transparent;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 500;

            margin-top: 0.625rem;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .descricaoPlaylist {
            font-size: 0.9rem;
            line-height: 1rem;
            font-weight: 400;
            opacity: 0.7;

            margin-top: 3px;

            /* Reticências após a segunda linha */
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* =-=-=-=-=-=-=-=-=-=-= btnPlay =-=-=-=-=-=-=-=-=-=-= */
        .btnPlay {
            position: relative;
            margin-top: -23.5%;
            top: -4%;
            left: 70%;
            width: 50px;
            height: 50px;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: var(--cor-principal);
            box-sizing: border-box;
            border-radius: 500px;

            -webkit-box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
            box-shadow: 0 8px 8px rgb(0 0 0 / 30%);

            visibility: hidden;
            opacity: 0;
            -webkit-transition: opacity 300ms, visibility 300ms;
            transition: opacity 300ms, visibility 300ms;
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {
    .divPlaylists {
        // background-color: pink !important;
        justify-content: center;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}