.main {
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    svg {
        fill: var(--bege);
        color: var(--bege);
    }

    input {
        background-color: var(--bege);
        font-weight: 500;
        font-size: 0.9rem;
        color: var(--preto) !important;
    }

    .mainInner {
        background-color: transparent;
        padding: 0.75rem;
        width: 50%;

        .sessao {
            background-color: var(--super-preto);
            display: flex;
            flex-direction: column;
            padding: 0.9rem;
            border-radius: 5px;

            .divInputSenha {
                // background-color: blue;
                display: flex;
                align-items: flex-end;
                gap: 1rem;
                color: var(--preto);

                button {
                    margin-bottom: 0.1rem;
                }
            }

            .botaoFonteVermelha {
                button {
                    color: var(--vermelho) !important;
                }
            }
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .main {
        .mainInner {
            .sessao {
                .divInput {
                    // background-color: blue;
                    display: flex;
                    flex-direction: column;
                    gap: 0.75rem;
                }
            }
        }
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}