.wrapper {
    // background-color: red !important;
    display: flex;

    .div100 {
        // background-color: red;
        width: 100vw;
        height: 100vh;
        overflow-y: auto !important; // Permitir scroll dentro do conteúdo interno;

        // Esconder scrollbar;
        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .esconderSidebarSeMobile {
        display: none;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}