/* =-=-=-=-=-=-=-=-=-=-= CSS referente ao conteúdo principal do modal de upload =-=-=-=-=-=-=-=-=-=-= */
.divUpload {
    // background-color: #474747C7;
    background-color: transparent;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .divAvisoUpload {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            color: var(--branco-escuro);
            line-height: 2rem;
            cursor: pointer;
            transition: 0.4s;

            &:hover {
                transition: 0.4s;
                color: var(--cor-principal);
            }
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}