.wrapper {
    // background-color: pink !important;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;

    div {
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        &:nth-child(1) {
            // background-color: red;

            .divLottie {
                // background-color: blue;
                width: 1000% !important; // Exagerar no tamanho;
            }
        }

        &:nth-child(2) {
            background: var(--background-gradient-original);
            text-align: center;
            width: 100%;
            z-index: 99999999;
            margin-right: 30%;
            padding: 3rem;
            border-radius: 10px;

            .titulo {
                color: var(--cor-principal);
                font-size: 4rem;
                font-weight: 600;
                line-height: 2.5rem;
            }

            .texto {
                color: var(--branco);
                font-size: 1.1rem;
                font-weight: 500;
                line-height: 1.75rem;
            }
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
/* hi-res laptops and desktops */
@media (max-width:1281px) {
    .wrapper {
        // background-color: pink !important;

        div {
            // background-color: red;

            &:nth-child(1) {
                // background-color: red;

                .divLottie {
                    // background-color: blue;
                    width: 1500% !important; // Exagerar no tamanho;
                }
            }

            &:nth-child(2) {
                padding: 5rem;

                .texto {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {
    .wrapper {
        // background-color: pink !important;

        div {
            // background-color: red;
            margin: auto !important;

            &:nth-child(1) {
                display: none;
            }

            &:nth-child(2) {
                // background: linear-gradient(90deg, #af2896, #509bf5);
                width: 80%;
                padding: 3rem;

                .texto {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}