.main {
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin-bottom: 10rem; // Corrigir "bug" que o player traz;

    svg {
        fill: var(--bege);
        color: var(--bege);
    }

    input {
        background-color: var(--bege);
        font-weight: 500;
        font-size: 0.9rem;
        color: var(--preto) !important;
    }

    .mainInner {
        background-color: transparent;
        padding: 0.75rem;
        width: 50%;

        .sessao {
            background-color: var(--super-preto);
            display: flex;
            flex-direction: column;
            padding: 0.9rem;
            border-radius: 5px;

            .divInputConjunto {
                // background-color: blue;
                display: flex;
                align-items: flex-end;
                gap: 1rem;
                color: var(--preto);

                button {
                    margin-bottom: 0.1rem;
                }
            }

            .divBotao {
                button {
                    width: 100%;
                    background: var(--cor-principal);
                    color: var(--preto);

                    &:disabled {
                        background-color: #2f7047;
                        color: var(--preto);
                        opacity: 0.5;
                        cursor: not-allowed;
                    }
                }
            }

            .divInputPicker {
                // background-color: blue;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                color: var(--preto);

                .componenteColorPicker {
                    background-color: var(--branco-escuro) !important;
                }
            }

            .titulo {
                // background-color: red;
                color: var(--branco-escuro);
                font-size: 0.8rem;
                font-weight: 600;
            }
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {
    .main {
        .mainInner {
            width: 70%;
        }
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .main {
        .mainInner {
            width: 80%;
        }
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}