:root {
    --preto: #1A1A1A;
    --super-preto: #000000;
    --branco: #FFFFFF;
    --cinza: #121212;
    --cinza-claro: #A7A7A7;
    --bege: #f4f2f0;
    --cor-principal: #1DD05E;

    --toastify-color-progress-light: var(--cor-principal) !important;
    --toastify-color-progress-warning: var(--cor-principal) !important;
    --toastify-icon-color-warning: var(--cor-principal) !important;
    --toastify-color-progress-error: var(--cor-principal) !important;
    --toastify-icon-color-error: var(--cor-principal) !important;
    --toastify-color-progress-success: var(--cor-principal) !important;
    --toastify-icon-color-success: var(--cor-principal) !important;
    --toastify-color-progress-info: var(--cor-principal) !important;
    --toastify-icon-color-info: var(--cor-principal) !important;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth !important;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;

    background: var(--cinza);
    background: linear-gradient(180deg, #1B1039 0%, rgba(18, 18, 18, 1) 24%, rgba(18, 18, 18, 1) 100%);

    color: var(--branco);
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

::selection {
    background: var(--cor-principal);
}

.semDrag {
    pointer-events: none;
}

.semHighlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    /* Desabilitar "select" nas imagens */
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.pointer {
    cursor: pointer !important;
}

.esconder {
    display: none !important;
}

.cor-principal {
    color: var(--cor-principal) !important;
    background: var(--cor-principal) !important;
}

.cor-principal-hover {
    transition: .2s ease-in-out;

    &:hover {
        color: var(--cor-principal) !important;
        fill: var(--cor-principal) !important;
        opacity: 1 !important;
        transition: .2s ease-in-out;
    }
}

.cor-verde-hover {
    transition: .2s ease-in-out;

    &:hover {
        color: var(--cor-principal) !important;
        opacity: 1 !important;
        transition: .2s ease-in-out;
    }
}

.cor-branco {
    color: var(--branco) !important;
}

.cor-preto {
    color: var(--preto) !important;
}

/* =-=-=-=-=-=-=-=-= Container, div, titulo e texto padrão =-=-=-=-=-=-=-=-= */
.container-padrao {
    background-color: var(--preto2);
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-bottom: 15vh;
}

.div-padrao {
    // background-color: pink !important;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-top: 1.8rem;
}

.titulo {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.04em;
    font-weight: 700;
    color: var(--branco);
}

.subtitulo {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--cinza-claro);
}

.texto {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    color: var(--cinza-claro);
}

/* =-=-=-=-=-=-=-=-= Input, textarea e select "padrão" =-=-=-=-=-=-=-=-= */
.input {
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    padding: 0px 16px;

    background-color: #e5dcfc;
    color: #1A1A1A !important;
    opacity: 0.9;

    border-radius: 5px;
    border: none;
    color: #111;
    font-size: 1rem;
    outline: 0px;
    padding: 0px 20px;
    transition: box-shadow 0.2s ease 0s, color 0.2s ease 0s;
    width: 100%;

    &:focus {
        box-shadow: inset 0 0 0 1px var(--cor-principal);
        outline-width: 0px;
    }

    &:disabled {
        background-color: var(--branco);
        border: var(--bege) 2px solid;
        cursor: not-allowed;
    }
}

/* =-=-=-=-=-=-=-=-=-=-= nProgress =-=-=-=-=-=-=-=-=-=-= */
#nprogress {
    .bar {
        background: var(--cor-principal) !important;
        height: 3px !important;
        box-shadow: none !important;
    }

    .peg {
        box-shadow: 0 0 10px var(--cor-principal), 0 0 5px var(--cor-principal) !important;
        box-shadow: none !important;
        height: 3px !important;
    }

    .spinner-icon {
        border-top-color: var(--cor-principal) !important;
        border-left-color: var(--cor-principal) !important;
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Toast =-=-=-=-=-=-=-=-=-=-= */
.Toastify__toast-container {
    // background-color: red;
    z-index: 99999999999;

    .Toastify__toast-body {
        b {
            color: var(--cor-principal);
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Coração =-=-=-=-=-=-=-=-=-=-= */
.coracao {
    // background-color: red;
    background-image: url('../assets/image/coracao-animacao.png');
    background-repeat: no-repeat;
    background-size: 2900%;
    background-position: left;
    height: 3.125rem;
    width: 3.125rem;
    margin: 0 auto;
    cursor: pointer;
}

.animarCoracao {
    animation: heart-burst .8s steps(28) forwards;
}

@keyframes heart-burst {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Botão =-=-=-=-=-=-=-=-=-=-= */
.botao {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 40px;
    margin: 8px 0 12px;
    padding: 8px 48px;
    border: none;
    background: var(--branco);
    border-radius: 500px;
    color: var(--preto);
    cursor: pointer;
    font: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 180px;
    white-space: nowrap;
    outline: none;
    place-content: center;
    place-items: center;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    text-transform: uppercase;

    &:hover {
        transform: scale(1.05);
        transition: all 0.3s;
    }

    &:disabled {
        background-color: var(--preto);
        color: var(--preto);
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.divBotaoInvertido {
    button {
        width: 100%;
        background: var(--branco);
        color: var(--preto);
        border: 1px solid #c5b1f1;

        &:disabled {
            background-color: inherit;
            color: var(--preto);
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

.svg16px {
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
}

/* =-=-=-=-=-=-=-=-=-=-= Scroll =-=-=-=-=-=-=-=-=-=-= */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

body::-webkit-scrollbar {
    width: 0px !important;
}

.main::-webkit-scrollbar {
    width: 0px !important;
}

::-webkit-scrollbar-track {
    background: var(--preto);
}

::-webkit-scrollbar-thumb {
    background: var(--cor-principal);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1b8541;
}

/* =-=-=-=-=-=-=-=-=-=-= Margens =-=-=-=-=-=-=-=-=-=-= */
.margem0_5 {
    margin-top: 0.5rem;
}

.margem1 {
    margin-top: 1rem;
}

.margem1_5 {
    margin-top: 1.5rem;
}

.margem2 {
    margin-top: 2rem;
}

.margem3 {
    margin-top: 3rem;
}

.margem3_5 {
    margin-top: 3.5rem;
}

.margem4 {
    margin-top: 4rem;
}

.margem5 {
    margin-top: 5rem;
}

.margem6 {
    margin-top: 6rem;
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
@media (max-width:1400px) {}

/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}